* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Libre Caslon Text', sans-serif;
  line-height: 150%;
}

* {
  color: #272727;
}

body {
  background-color: #fafafa;
}

.container {
  width: min(90%, 90em);
  margin: 1em auto;
}

header h1.logo {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 4em;
  font-family: 'Lobster Two', sans-serif;
  font-weight: 400;
  text-align: center;
  -webkit-transition: margin .3s ease-out;
  transition: margin .3s ease-out;
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 6px #e4e4e4;
          box-shadow: 1px 1px 6px #e4e4e4;
}

header form input {
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  background: white;
  border-radius: 5px 0px 0px 5px;
  width: 100%;
  font-size: 18px;
  z-index: 1;
}

header form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.2em;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f73be7), to(#b357ff));
  background-image: linear-gradient(to bottom right, #f73be7, #b357ff);
  color: white;
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

header form button:hover {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#b357ff), to(#f73be7));
  background-image: linear-gradient(to bottom left, #b357ff, #f73be7);
}

header form button img {
  width: 1.5em;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
  }
  to {
    opacity: 1;
  }
}

article {
  display: none;
  -webkit-animation: fadeIn .5s forwards;
          animation: fadeIn .5s forwards;
}

article header {
  display: block;
  margin-top: 2em;
  margin-bottom: 1em;
}

article header h1 {
  font-size: 2rem;
  font-weight: 400;
}

article header .phonetics-section p {
  font-size: 1.5rem;
  font-family: serif;
}

article .definition-section {
  display: -ms-grid;
  display: grid;
}

article .definition-by-part-of-speech {
  background-color: white;
  -webkit-box-shadow: 1px 1px 6px #ececec;
          box-shadow: 1px 1px 6px #ececec;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1.125em;
}

article ul {
  list-style: none;
}

article .part-of-speech {
  font-weight: 400;
  font-style: italic;
  font-size: 1.3em;
  margin-bottom: .5em;
}

article .definitions-part {
  margin: 1em;
}

article .definitions-part .the-definition {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

article .synonym-section, article .antonym-section {
  margin-left: 1.3em;
}

article .synonym-section h3, article .antonym-section h3 {
  margin-bottom: .5em;
}

article .synonym-section ul, article .antonym-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article .synonym-section ul li, article .antonym-section ul li {
  margin-right: 1em;
  text-decoration: underline;
  cursor: pointer;
}

article .antonym-section {
  margin-top: 1em;
}

.no-result-message {
  text-align: center;
  font-weight: 400;
  display: none;
  margin-top: 5em;
}

.phonetics-section {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  place-items: center;
}

.phonetics-section button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f73be7), to(#b357ff));
  background-image: linear-gradient(to bottom right, #f73be7, #b357ff);
  color: white;
  border: none;
  border-radius: 50%;
  padding: .5em;
  margin-right: 1em;
  cursor: pointer;
}

.phonetics-section button:hover {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#f73be7), to(#b357ff));
  background-image: linear-gradient(to bottom left, #f73be7, #b357ff);
}

.phonetics-section button img {
  width: 1em;
}

.loading-indicator {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em;
}

.loading-indicator span {
  display: inline-block;
  background-color: #f73be7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  -webkit-animation: bounce 0.5s infinite alternate;
          animation: bounce 0.5s infinite alternate;
  -webkit-transform: translate3d(0);
          transform: translate3d(0);
}

.loading-indicator span:nth-child(2) {
  background-color: #b357ff;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loading-indicator span:nth-child(3) {
  background-color: #eb5ba3;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes bounce {
  to {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
}

@keyframes bounce {
  to {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
}

@media (min-width: 768px) {
  article header {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  article header .searched-word {
    margin-right: .5em;
  }
  article .definition-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  article .definition-by-part-of-speech {
    margin-left: 0.5625em;
    margin-right: 0.5625em;
  }
}
/*# sourceMappingURL=main.css.map */