*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Libre Caslon Text', sans-serif;
    line-height: 150%;
}

$color1: #f73be7;
$color2: #b357ff;
$color3: #eb5ba3;
$text-color: rgb(39, 39, 39);

*{
    color: $text-color;
}

body{
    background-color: rgb(250, 250, 250);
}

.container{
    width: #{"min(90%, 90em)"};
    margin: 1em auto;

}


header{
    h1.logo{
        // margin-block: 2em 1em;
        margin-top: 2em;
        margin-bottom: 1em;
        font-size: 4em;
        font-family: 'Lobster Two', sans-serif;
        font-weight: 400;
        text-align: center;
        transition: margin .3s ease-out;
    }
    form{
        display: flex;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
        box-shadow: 1px 1px 6px rgb(228, 228, 228);
        
        input{
            padding-left: 1em;
            padding-right: 1em;
            border: none;
            background: white;
            border-radius: 5px 0px 0px 5px;
            width: 100%;
            font-size: 18px;
        }
        button{
            display: flex;
            padding: 1.2em;
            background-image: linear-gradient(to bottom right, $color1, $color2);
            color: white;
            border: none;
            border-radius: 0px 5px 5px 0px;
            cursor: pointer;
            &:hover{
                background-image: linear-gradient(to bottom left, $color2, $color1);
            }
            img{
                width: 1.5em;
            }
        }
    
    }
}


@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(2em);
    }
    to{
        opacity: 1;
    }
}

article{
    display: none;
    animation: fadeIn .5s forwards;
    header{
        display: block;
        // margin-block: 2em 1em;
        margin-top: 2em;
        margin-bottom: 1em;
        h1{
        font-size: 2rem;
        font-weight: 400;
        }
        .phonetics-section p{
            font-size: 1.5rem;
            font-family: serif;
        }
    }

    ul.definition-section{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        // gap: 1em;
        align-items: start;
    }

    ul.definition-section .definition-by-part-of-speech{
        background-color: white;
        box-shadow: 1px 1px 6px rgb(236, 236, 236);
        border-radius: 5px;
        padding: 1em;
        margin-left: 0.5625em;
        margin-right: 0.5625em;
        margin-bottom: 1.125em;
    }

    ul{
        list-style: none;
    }
    .part-of-speech{
        font-weight: 400;
        font-style: italic;
        font-size: 1.3em;
        margin-bottom: .5em;
    }
    .definitions-part{
        margin: 1em;
        .the-definition{
            // margin-block: 1.5em;
            margin-top: 1.5em;
            margin-bottom: 1.5em;
        }
    }
    .synonym-section, .antonym-section{
        margin-left: 1.3em;
        h3{
            margin-bottom: .5em;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                margin-right: 1em;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    .antonym-section{
        margin-top: 1em;
    }

}

.no-result-message{
    text-align: center;
    font-weight: 400;
    display: none;
    margin-top: 5em;
}

.phonetics-section{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    place-items: center;
    // gap: 1em;

}


.phonetics-section button{
    display: flex;
    background-image: linear-gradient(to bottom right, $color1, $color2);
    color: white;
    border: none;
    border-radius: 50%;
    padding: .5em;
    margin-right: 1em;
    cursor: pointer;
    &:hover{
        background-image: linear-gradient(to bottom left, $color1, $color2);
    }
    img{
        width: 1em;
    }
}

.loading-indicator{
    display: none;
    justify-content: center;
    align-items: center;
    margin: 2em;
    span{
        display: inline-block;
        background-color: $color1;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 5px;
        animation: bounce 0.5s infinite alternate;
        transform: translate3d(0);
        &:nth-child(2){
            background-color: $color2;
            animation-delay: 0.1s;
        }
        &:nth-child(3){
            background-color: $color3;
            animation-delay: 0.3s;
        }
    }
    @keyframes bounce{
        to{
            transform: translate3d(0, -10px, 0);
        }
    
    }
}

@media (min-width: 768px){
    article{
        header{
            display: grid;
            grid-auto-flow: column;
            justify-content: center;
            // gap: 1em;
            .searched-word{
                margin-right: .5em;
            }
        }
        
    }

}

@media (min-width: 550px){
    article{
        ul.definition-section{
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        }
    }
}